<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	    <meta name="HandheldFriendly" content="true">
	    <meta name="MobileOptimized" content="320">
    	<title>{{options.title}}</title>
    	<link href="https://fonts.googleapis.com/css?family=Fira+Mono:400,700|Open+Sans:300,400,600,700&amp;subset=latin-ext" rel="stylesheet">
    	<link rel="stylesheet" href="public/styles.css">
    	{{{CSS options.css}}}
	</head>
	<body id="kss-node">
		<div class="kss-wrapper">
			<div class="kss-content">
				{{#if template.isHomepage }}
					{{#if homepage}}
	          			<section id="section-0" class="kss-section kss-overview">
	            			{{{homepage}}}
	          			</section>
	          		{{/if}}
          		{{else}}
          			{{#each sections}}
          				<section id="{{reference}}">
            				<h1 class="kss-title">
        					 	{{header}} <span class="kss-ref">#{{reference}}</span>
        					</h1>
            				{{#if markup}}
            					{{#if description}}
						            <div class="kss-description">
										{{{description}}}
						            </div>
					            {{/if}}
	            				<div class="kss-modifier-block">
	              					<div class="kss-modifier kss-modifier-original">
	                					<div class="kss-modifier-example">
	                  						{{{markup}}}
	                					</div>
	              					</div>
	              					{{#eachModifier}}
		          						<div class="kss-modifier">
		                					<div class="kss-modifier-head">
		                  						<div class="kss-modifier-name">{{name}}</div>
		                  						<div class="kss-modifier-description">
		                    						{{{description}}}
		                  						</div>
		                					</div>
		                					<div class="kss-modifier-example">
		                  						{{{markup}}}
		                					</div>
		              					</div>
	              					{{/eachModifier}}
									<div class="kss-markup">
										<pre><code class="lang-html">{{SYNTAX}}</code></pre>
									</div>
	            				</div>
	            			{{else}}
	            				{{#if description}}
	            					<div class="kss-description">
	              						{{{description}}}
	            					</div>
	            				{{/if}}
	            			{{/if}}
	          			</section>
	          		{{/each}}
	          	{{/if}}
			</div>
			<div class="kss-sidebar">
				<nav>
					<ul>
						<li class="homepage kss-depth-0{{#if homepage}} active{{/if}}">
							<a href="./">
								<span>Home</span>
							</a>
						</li>
					    {{#each menu}}
					        <li class="kss-depth-0{{#if (eq ../rootName reference)}} active{{/if}}">
					        	<a href="section-{{reference}}.html">
						        	<span>{{header}}</span>
						        	<span>#{{reference}}</span>
					        	</a>
				        	</li>
				        	{{#if isActive}}
          						{{#if children}}
          							{{#each children}}
										<li class="kss-depth-{{depth}}">
											<a href="#{{reference}}">
												<span>{{header}}</span>
												<span>#{{reference}}</span>
											</a>
										</li>
          							{{/each}}
          						{{/if}}
      						{{/if}}
					    {{/each}}
					</ul>
				</nav>
				<footer>
					{{{options.custom}}}
				</footer>
			</div>
		</div>
		{{#if options.js}}
			{{{JS options.js}}}
		{{/if}}
		<script type="text/javascript">
			(function(w, d, $, on){
				var $n=$('.kss-sidebar'),$u=$('.kss-sidebar>nav>ul'),$c=$('.kss-content'),o=null,c=function(){
					return o!==null||(o=setTimeout(function(){
						var h=$n.offsetHeight,s=w.scrollY,h1=$c.offsetHeight,h2=$u.offsetHeight;
						$u.style.transform='translateY(-'+parseInt(((h2-(h-80))*s)/(h1-h))+'px)';o = null;},1));
				};on('scroll', c);on('resize', c);
			})(window, document, document.querySelector.bind(document), window.addEventListener.bind(window))
		</script>
	</body>
</html>